# Django runtime
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-local-dev-key-with-minimum-32-byte-length
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.0.196

# CORS
# For local development keep this True for convenience.
# For production set to False and provide DJANGO_CORS_ALLOWED_ORIGINS.
DJANGO_CORS_ALLOW_ALL_ORIGINS=True
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://192.168.0.196:8000
